<section id="testimonios" class="testimonios">
  <div class="container">

    <h2 class="testimonios__title">
      Testimonios de Nuestros Graduantes en Posgrado UPEA
    </h2>

    <div class="testimonios__mosaico">
      @for (foto of fotos; track foto.src) {
        <div class="testimonios__tile"data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
          <img [src]="foto.src" [alt]="foto.alt" />
          <div class="testimonios__overlay">
            <span>{{ foto.titulo }}</span>
          </div>
        </div>
      }
    </div>

  </div>
</section>