<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <!-- grado_academico -->
    <div class="grado_academico">
        <div class="form-group row">
            <label for="grado_academico" class="col-sm-3 col-form-label">Grado Academico</label>

            <div class="col-sm-9">
                <input 
                type="text"
                class="form-control"
                id="grado_academico"
                name="grado_academico"
                formControlName="grado_academico"
                placeholder="Ingrese Grado Academico">
            
            @if (formulario.controls.grado_academico.invalid &&
                 formulario.controls.grado_academico.touched) {
                
                <div class="class-error">
                    @if (formulario.controls.grado_academico.errors?.['required']) {
                        <div class="alert alert-danger" role="alert">El grado académico es obligatorio</div>
                    }
                    @if (formulario.controls.grado_academico.errors?.['minlength']) {
                        <div class="alert alert-danger" role="alert">El grado académico debe tener al menos 3 caracteres</div>
                    }
                    @if (formulario.controls.grado_academico.errors?.['maxlength']) {
                        <div class="alert alert-danger" role="alert">El grado académico no debe superar los 150 caracteres</div>
                    }
                </div>
            }
            </div>
        </div>
    </div>

    <!-- jerarquia -->
    <div class="jerarqquia">
        <div class="form-group row">
            <label for="jerarquia" class="col-sm-3 col-form-label">Jerarquia</label>
            
            <div class="col-sm-9">
                <input 
                type="number"
                class="form-control"
                formControlName="jerarquia"
                >
            
            @if (formulario.controls.jerarquia.invalid &&
                formulario.controls.jerarquia.touched) {
                
                <div class="class-error">
                    @if (formulario.controls.jerarquia.errors?.['required']) {
                        <div class="alert alert-danger" role="alert">El campo jerarquia es obligatorio</div>
                    }
                     
                </div>

            }
            </div>

        </div>
    </div>

    <button  class="btn btn-success" >
        Guardar
    </button>
</form>