  <!-- =========================================================
       HERO
       ========================================================= -->

<section class="hero" id="hero">

    <div class="hero__container">

        <!-- Contenido -->
        <div class="hero__content"data-aos="fade-right">

          <span class="hero__eyebrow">
            POSGRADO UPEA
          </span>

          <h1  data-aos="flip-down">
            Sistema de Gestión
            <span>de Butacas</span>
          </h1>

          <p class="hero__description">
            Organiza y asigna butacas para eventos académicos
            del Posgrado UPEA de manera rápida, ordenada y eficiente.
          </p>

          <div class="hero__actions">

            <a
              routerLink="/login"
              class="hero__button"
            >
              Ingresar al sistema
            </a>

          </div>

        </div>


        <!-- Galería -->
        <div class="hero__gallery" data-aos = "fade-left">

          <div id="heroCarousel" class="carousel slide carousel-vertical" data-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <img src="/img/fondo1.png" alt="Evento académico del Posgrado UPEA" />
              </div>

              <div class="carousel-item">
                <img src="/img/fondo2.png" alt="Graduación Posgrado UPEA" />
              </div>

              <div class="carousel-item">
                <img src="/img/fondo3.png" alt="Colación de grado Posgrado UPEA" />
              </div>

            </div>
          </div>

        </div>

    </div>


      <!-- Indicador de scroll -->
      <a
        routerLink="/" fragment="conocenos"
        class="hero__scroll"
        aria-label="Desplazarse a la sección Conócenos"
      >
        <span>Descubre más</span>
        <span class="hero__scroll-icon">↓</span>
      </a>

</section>