:host {
  display: block;
}
.crear-mencion {
  width: min(100%, 700px);
  margin: 0 auto;
  padding: 2rem;
}

.encabezado {
  margin-bottom: 2rem;
}

.encabezado h1 {
  margin-bottom: 0.5rem;
  color: black;
}

.encabezado p {
  margin: 0;
  color: black;
}